/*** Skills Section ***/

.skills {
  position: relative;
  /* height: 80vh; */
  background-color: var(--base-shadow);
  margin: 40px 25px 50px 25px;
}

.skills h2 {
  font-size: 2rem;
  color: var(--headers-color);
}

.skills p {
  font-size: 1.1rem;
}

.all_skills {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}

.tech-use {
  display: flex;
  margin: 15px 0px -10px 0px;
}

.tech-use .line {
  width: 20px;
}

.tech-use h3 {
  font-size: 1rem;
  margin: 1px 0px 0px 5px;
}

.skill-container {
  display: flex;
  gap: 10px;
}

.skill-container img {
  height: 15vh;
  background-color: var(--base-shadow);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 24px 9px #0f58792a,
    0 4px 10px 0 rgba(0, 0, 0, 0);
}


@media screen and (max-width: 1250px) {

  .skills {
    padding: 0px 20px 0px 18px;
  }
}

@media screen and (max-width: 990px) {
  .skills {
    margin: 0px 25px 0px 25px;
  }

  .all_skills {
    flex-direction: column;
  }

  .skill-container img {
    height: 18vh;
  }

}

@media screen and (max-width: 767px) {
  .skills {
    padding: 0px 32px 50px 5px;
  }

  .skill-container img {
    height: 17vh;
  }
}

@media screen and (max-width: 450px) {
  .skills {
    padding: 0px 32px 50px 5px;
    margin-top: 70px;
  }

  .skill-container img {
    height: 7vh;
  }
}